extends layout

block content

     
    .col-md-12
      .row.text-center
        h1 Hive Network Stats
        .col-md-4.col-md-offset-0
          .panel.panel-default.hidden-sm.hidden-xs
            .panel-heading
              strong #{settings.locale.gethivedifficulty}
            .panel-body
               label#gethivedifficulty -
 
        .col-md-4
          .panel.panel-default.hidden-sm.hidden-xs
            .panel-heading
              strong #{settings.locale.getbeecost}
            .panel-body
               label#getbeecost -

        .col-md-4
          .panel.panel-default.hidden-sm.hidden-xs
            .panel-heading
              strong Honey Pot
            .panel-body
               label#honeypot -

        .col-md-4
          .panel.panel-default.hidden-sm.hidden-xs
            .panel-heading
              strong Immature Bees
            .panel-body
               label#immature_bee_count -

        .col-md-4
          .panel.panel-default.hidden-sm.hidden-xs
            .panel-heading
              strong Mature Bees
            .panel-body
               label#mature_bee_count -

        .col-md-4
          .panel.panel-default.hidden-sm.hidden-xs
            .panel-heading
              strong Bee Population Index (GI) 
            .panel-body
               label#gashi_index -

        .col-md-4.col-md-offset-2
          .panel.panel-default.hidden-sm.hidden-xs
            .panel-heading
              strong Mature BCT Count 
            .panel-body
               label#mature_bct_count -

        .col-md-4
          .panel.panel-default.hidden-sm.hidden-xs
            .panel-heading
              strong Immature BCT Count
            .panel-body
               label#immature_bct_count -
               
        

       
   
